.transition_rect {
	stroke:black;
	stroke-width:1;	
}

.left_bars {
	fill:black;
}

.transition_poly {
	stroke:black;
	stroke-width:0.2;	
}

.segment_name {
	font-size: 20px;
  	font-family: sans-serif;
  	opacity: 0.8;	
}

.left_segment_name {
	text-anchor: end;
}

.center_segment_name {
	text-anchor: start;
}

.title_container {
	width: 770px;
	height: 70px;
	margin:auto; 
}

.segment_percentage_labels {
	font-size: 20px;
	font-family: sans-serif;
	opacity: 0.8;
}

.segment_percentage_labels_left {
	text-anchor: end;
}

.segment_percentage_labels_center {
	text-anchor: start;
}

#svg_transitions {
	margin:auto; 
	display:block;
}


